<div class="dashboard-shell">

  <app-navbar
    [navItems]="navItems"
    [userName]="userName">
  </app-navbar>

  <table
    class="holdings-table"
    *ngIf="isHomeRoute && trades() as data">

    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let trade of data">

        <td *ngFor="let col of columns">
          {{ getCellValue(trade, col.field) }}
        </td>

      </tr>
    </tbody>

  </table>

  <router-outlet></router-outlet>

</div>