<!-- <input
  type="text"
  class="search-input"
  placeholder="Search users by name..."
  [(ngModel)]="searchTerm" />

  <table
    class="holdings-table"
    *ngIf="trades() as data">

    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let trade of data">

        <td *ngFor="let col of columns">
          {{ getCellValue(trade, col.field) }}
        </td>

      </tr>
    </tbody>

  </table>


<div class="user-detail-layout" *ngIf="selectedUser">
  <button (click)="clearSelection()">&larr; Back to list</button>
  <p>Selected: {{ selectedUser.name }}</p>

</div> -->

<table
  class="holdings-table"
  *ngIf="userData() as data">

    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of data">
        <td *ngFor="let col of columns">
          {{ getCellValue(user, col.header) }}
        </td>

      </tr>
    </tbody>

</table>